<div class="container">
  <p id="notice"><%= notice %></p>

  <p class="track_name"><%= @track.name %></p>

  <p class="track_desc"><%= @track.desc %></p>

<% @track.abilities.each do |ability| %>
  <p class="ability"><span class="ability_name"><%= ability.name %>:</span>
  <%= ability.desc %>
  </p>
<% end %>
</div>
