<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @track.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @track.desc %>
</p>

<% @track.abilities.each do |ability| %>
  <p><%= ability.name %></p>
<% end %>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
