<h1>Listing proses</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proses.each do |prose| %>
  <tr>
    <td><%= prose.content %></td>
    <td><%= prose.title %></td>
    <td><%= link_to 'Show', prose %></td>
    <td><%= link_to 'Edit', edit_prose_path(prose) %></td>
    <td><%= link_to 'Destroy', prose, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prose', new_prose_path %>
