<h1>Listing abilities</h1>

<table>
  <tr>
    <th>Desc</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @abilities.each do |ability| %>
  <tr>
    <td><%= ability.desc %></td>
    <td><%= ability.name %></td>
    <td><%= link_to 'Show', ability %></td>
    <td><%= link_to 'Edit', edit_ability_path(ability) %></td>
    <td><%= link_to 'Destroy', ability, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ability', new_ability_path %>
