<h1>Listing credentials</h1>

<table>
  <tr>
    <th>Provider</th>
    <th>Uid</th>
    <th>Name</th>
    <th>Email</th>
    <th>Nickname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credentials.each do |credential| %>
  <tr>
    <td><%= credential.provider %></td>
    <td><%= credential.uid %></td>
    <td><%= credential.name %></td>
    <td><%= credential.email %></td>
    <td><%= credential.nickname %></td>
    <td><%= link_to 'Show', credential %></td>
    <td><%= link_to 'Edit', edit_credential_path(credential) %></td>
    <td><%= link_to 'Destroy', credential, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credential', new_credential_path %>
