<p id="notice"><%= notice %></p>

<p>
  <b>Provider:</b>
  <%= @credential.provider %>
</p>

<p>
  <b>Uid:</b>
  <%= @credential.uid %>
</p>

<p>
  <b>Name:</b>
  <%= @credential.name %>
</p>

<p>
  <b>Email:</b>
  <%= @credential.email %>
</p>

<p>
  <b>Nickname:</b>
  <%= @credential.nickname %>
</p>


<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
