<!DOCTYPE html>
<html>
  <head>
    <title>Trellin</title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
	  <a class="brand" href="/">The Trellin Saga</a>
	  <% unless @user.nil? %>

	    <% if @user.trellin? %>
              <ul class="nav">
		<li><a href="/board">Message Board</a></li>
		<li><a href="/creation">Character Creation</a></li>
		<li><a href="/history">History</a></li>
		<li><a href="/background">Background</a></li>
		<li><a href="/time">Time</a></li>
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		    Resources
		  </a>
		  <ul class="dropdown-menu">
                    <li><a href="/level_chart">Advancement Chart</a></li>
                    <li><a href="/tracks">Tracks</a></li>
                    <li><a href="#">Classes</a></li>
                    <li><a href="#">Feats</a></li>
                    <li><a href="#">Skills</a></li>
		  </ul>
		</li>
              </ul>
	    <% end %>

	    Welcome, <%= @user.name %>
            <ul class="nav pull-right">
	      <li><a href="/users/<%= @user.id %>">Welcome, <%= @user.name %></a>
              <li><a href="/logout">Logout</a></li>
            </ul>
	  <% else %>
          <ul class="nav pull-right">
            <li><a data-toggle="modal" href="#login-modal" data-keyboard="true">Login</a></li>
          </ul>
	  <% end %>

        </div>
      </div>
    </div>

    <div id="login-modal" class="modal hide">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Login</h3>
      </div>
      <div class="modal-body">
        <p>
	  <% unless Rails.env.production? %>
	  <a href="/auth/developer">Dev</a>
	  <% end %>
	  <a href="/auth/twitter"><img src="/assets/twitter.png" alt="Twitter" /></a>
	  <a href="/auth/google_oauth2"><img src="/assets/google.png" alt="Google" /></a>
	</p>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
